
.map{
  display: none;
}
#map{
  height: 90%;
  width: 100%;
}
html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}


body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

header, h1{
  font-size: px;
}

#grid1{
  background-color: gray
}

#map_img{
  border: 2px rgb(248, 244, 244) solid;
  border-radius: 5px;
  padding: 4px;
}

#grid_content{
  text-align: left;
  font-size: 24px;
  margin-top: 45px;
}

#mailTo{
  background-color: rgb(121, 115, 115);
  border-radius: 0.19rem;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .15);
  margin-left: 275px;
}

#mailTo, placeholder{
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-align: center;
}

#actions{
  background-color: #f44336;
  margin-top: 10px;
  margin-bottom: 20px;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

#map{
  border-bottom: 2px solid #000000;
  border-top: 2px solid #000000;
}

#subjectText{
  height: 30px;
  margin-left: 20px;
  margin-top: 10px;
}

#header{
  margin-bottom: 10px;
  border-bottom: 2px solid #000000;
  margin-top: 10px;
  border-top: 2px solid #000000;
}

#showLink{
  margin-top: 5px;
  margin-bottom: 5px;
}

#sendLocation{
  margin-top: 5px;
  margin-bottom: 5px;
}

#homeButton{
  margin-bottom: 15px;
  
}

.btn-outline-info{
  color: #000000;
}

#successButton{
  margin-left: 20px;
}